@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Managementa.com</title>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div class="panel panel-default">
           <img src="~/images/rsz_project-management-1400x951-31.jpg" class="img-responsive" />
    </div>
    <nav class="navbar navbar-inverse ">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Managementa.com</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">My Account</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" >
        <div class="jumbotron">
            <h1>Experts at making your work easy</h1>
            <p>manage,simplfy and meke it simpler for you   <span class="glyphicon glyphicon-ok btn-success"></span> </p>
            <p>just write your project description and get started   <span class="glyphicon glyphicon-ok btn-success"></span> </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="sidebarContent">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Post a new project now</h3>
                        </div>
                        <div class="panel-body">
                                             
                        <textarea class="form-control" placeholder="type your project description" rows="10" id="comment"></textarea>
                    </div>
                        <div class="panel-footer text-center">

                            <button type="submit" class="btn btn-success btn btn-lg"><span class="glyphicon glyphicon-pencil"></span> Post</button>
                        </div>
                        </div>
                 
                    </div>
                </div>
            <div class="col-lg-8 col-md-6">
               <div class="mainContent">
                   <div class="panel panel-info">
                       <div class="panel-heading">
                           <h3 class="panel-title" >Not assigned Projects</h3>
                       </div>
                       <div class="panel-body" >

                       </div>
                       <div class="panel-footer" >

                       </div>
                   </div>
               </div>
            </div>
        </div> 
    </div>
   <div class="panel panel-default text-center" style="background-color:black">
       <div class="panel-body "style="color:gainsboro">
           
          <p><span class="glyphicon glyphicon-map-marker" ></span> Faculty of computer science,Helwan</p>
           <p><span class="glyphicon glyphicon-earphone" ></span> 01019190224</p>
          <a href="https://github.com/ASPTeam/Internet_Application"> <span class="glyphicon glyphicon-envelope"></span> GITHUB.com</a>
       </div>
       <div class="panel-footer text-capitalize text-center" style="background-color:black;color:white" >
           <p>all rights reserved </p>
           <p>&copy;@DateTime.Now.Year</p>
       </div>
   </div>
</body>
</html>
